body {
  font-family: sans-serif;
  background: #F8FAFE;
}

        /* Логотип */
  
        .logo {
          display: flex;
          background-color: #F8FAFE;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1;
          border-bottom: 1px solid #010541;
          padding: 18.5px 50px 9px;
          gap: 7px; 
        }

        .logo__heading {
          margin: 21px 0 0 0;
        }

        .logo-block-client__favourites {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 124.39px;
          top: 26.92px;
        }

        .logo-block-client__likes {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 2px 2px;
          color: #FFFFFF;
          background: #F36223;
          border-radius: 50px;
          min-width: 20px;
          min-height: 20px;
          position: absolute;
          right: 121.07px;
          top: 21px;
        }

        .logo-block-client__basket {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 55.19px;
          top: 26.92px;
        }

        .logo-block-client__number {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 2px 2px;
          color: #FFFFFF;
          background: #F36223;
          border-radius: 50px;
          min-width: 20px;
          min-height: 20px;
          position: absolute;
          right: 51.07px;
          top: 21px;
        }


.general {
  padding-left: 50px;
  margin-top: 98px;
}

        /* Хлебные крошки */

  .breadcrumbs {
    display: flex;
    margin-bottom: 8px;
    gap: 4px;
  }
  
    .style-link {
     color: #008CF0;
     text-decoration: none;
    }
    .style-link:hover {
     color:  #F36223; 
    }

    .style-link:active {
      color:  #A93A09; 
     }

     .base-unit {
      display: flex;
      flex-direction: column;
      gap: 30px;

     }

          /* Название товара */

    .model-name {
       margin: 0px; 
    }

         /* Фотогалерея */

      .photo-gallery {
        display: flex;
        gap: 10px;
      }

      .photo-gallery__pic {
        max-height: 387px;
      }

      .block {
        margin-bottom: 50px;
      }

      /* Блок характеристик */
        
  .main-unit {
      display: flex;
      flex-direction: row;
      gap: 100px;
  }

    .all-features {
      display: flex;
      flex-direction: column;
      max-width: 880px;
      gap: 30px;
    }

    .product-color {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .product-color-name {
      margin: 0px;
    }

    .product-color-name__list {
      display: flex;
      gap: 10px;
    }

        .product-color-name__image {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 80px;
          max-height: 80px;
          border: 1px solid #888888;
          border-radius: 4px;
          box-sizing: border-box;
          gap: 10px;
        }

         .product-color-name__image:hover {
           background-color: #F2F2F2;
           cursor: pointer;
         }

         .product-color-name__image:active {
          border-color: #A93A09;
        }

      .memory {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

       .memory-name {
         margin: 0px;
       }

        .memory-btn {
          display: flex;
          align-items: center;
          gap: 10px;      
        }
         
        .btn {
          display: flex;
          padding: 10px 20px;
          align-items: center;
          justify-content: center;
          align-items: center;
        }

          .memory-btn__button {
            border: 1px solid #888888;
            border-radius: 4px;
            background: #F8FAFE;
          }
           
           .memory-btn__button:hover {
             background-color: #F2F2F2;
             cursor: pointer;
           }

           .memory-btn__button:active {
            border-color: #A93A09;
          }

            .btn_selected {
              border-color: #F36223;
            }



    /* Product Features */
    .features {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .features-name{
      margin: 0px;
    }
    
 
     .features-block {
       display: flex;
       flex-direction: column;
       margin: 0px;
       padding: 0px 0px 0px 20px;
       gap: 10px;
     }
 
       .features-block__text {
         list-style: none; 
         list-style-image: url(Pic/marker.png);
       }


      /* Description */

      .description {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .description__name {
        margin: 0px;
      }


         /* Toolbar */

      .toolbar {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 420px;
        max-height: 957px;
      }
  
          .product {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 35px;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
          }

          .product-price {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }

          .product-price-box {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
  
            .product-price-box__block {
              display: flex;
              gap: 10px;
              margin: 0%;
            }

            .product-price-box__old {
              padding-top: 9px;
              color: #888888;
              text-align: center
            }

              .product-price-box__percent {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 8px;
                background: #F36223;
                border-radius: 500px;
                font-weight: 500;
                color: #FFFFFF;
              }

                .product-price-box__new {
                  margin: 0px;
                  font-size: 280%;   
                }

            .product-price-box__favourites {
              Width: 30px;
              Height: 30px;
              background-image: url("./Pic/favourites.svg");
              margin-left: 186px;
              background-repeat: no-repeat;
              background-position: center;
            }

            .product-price-box__favourites:hover {
              background-image: url("./Pic/favourites2.svg");
              background-repeat: no-repeat;
              }

              .product-price-box__favourites:active {
                background-image: url("./Pic/favourites1.svg");
                background-repeat: no-repeat;
                }
  

  

    .product-price-box__delivery {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .product-price-box__text {
      margin: 0px;
    }

    .product-button {
      display: flex;
      gap: 15px;
      padding: 20px 75px;
      background: #F36223;
      border: 0px;
      border-radius: 4px;
      color: white; 
      font-size: 20px;
      line-height: 24px;
    }

    .product-button:hover {
      background-color: #DA4A0C;
      cursor: pointer;
    }

    .product-button:active {
      background-color: #A93A09;
    }

    

     .product-button_basket::before {
       content:"";
       display: inline-block;
       Width: 24px;
       Height: 24px;
       background-image: url("./Pic/basket.svg");
       background-repeat: no-repeat;
       background-position: center center;
     }

     .advertisement {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 642px;
    }

          .advertisement__name {
            font-weight: 400;
            font-size: 14px;
            color: #888888;
          }


    .advertisement__frame {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }



      iframe {
       border: #ccc dashed; 
       min-height: 300px;
      background: #F0F0F0;
      border: 1px dashed #888888;
      }

      /* Comparison of models */

    .comparison {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 880px;
    }

    .comparison-table {
      width: 100%;
      border: 1px solid #888888;
      border-collapse: collapse; 
    }
      .comparison-head__row {
        font-family: 'Inter';
        font-weight: bold;
        padding: 10px 15px 10px 15px;
        border: 1px solid #888888;
      }

        .comparison-head__body {
          text-align: center;
          border-left:1px solid #888888;
          padding: 10px;
        }
   
         .comparison-head__line_selected:hover {
           background-color: #F2F2F2;
           cursor: pointer;
         }

          /* отзывы */

  .review {
    max-width: 880px;
    margin-bottom: 60px;   
  }

    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

      .review-header__wrapper {
        display: flex;
        align-items: baseline;
        gap: 10px;
      }

       .review-header__title {
         font-size: 24px;
         margin: 0px ;
       }

       

       .review-header__quantity {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #888888;
       }

       .separator {
        margin: 0;
        margin-left: 120px;
        margin-bottom: 40px;
        margin-top: 40px;
        border: 1px dashed #888888;
      }

        .review-block {
         display: flex;
         gap: 30px;
        }

        .review-block__photo {
         height: 140px;
         border-radius: 100px;           
        }

        .review-block__title{
          margin: 0;
          margin-bottom: 10px;
        }

        .review-block__star {
          width: 150px;
          height: 30px;
         }
           

    .form {
      padding-left: 170px;
    }

      .form-bloc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }



        .form-bloc-box {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         padding: 0px;
         gap: 40px;
         min-width: 710px;
        }

        .form-bloc-box__name {
         text-indent: 20px;
         min-width: 495px;
         min-height: 49px;
         border: 1px solid #888888;
         background: #F8FAFE;
        }

          .form-bloc-box__review {
            text-indent: 20px;
            border: 1px solid #888888; 
            min-width: 175px; 
            min-height: 49px; 
            background: #F8FAFE; 
          } 

          .form-bloc-box__review:hover {
            border: 1px solid #000000;
            cursor: pointer;
          }
     
            .form-bloc__text {
              text-indent: 20px;
              padding-top: 15px;
              min-width: 716px;
              min-height: 190px;
              resize: none;
              background: #F8FAFE;
            }

            .form-button {
              padding: 10px 20px;
              background: #F36223;
              border: 1px solid #F36223;
              border-radius: 4px;
              color: white;   
            }          

            .form-button:hover {
              background-color: #DA4A0C;
              cursor: pointer;
            }

            .form-button:active {
              background-color: #A93A09;
            }


  .footer {
    padding-top: 100px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 30px 50px 30px 50px;
  }

   @media (max-width: 1499px) {

    .logo {
      padding-left: 15px;
    }

    .logo-block-client__favourites {
      right: 88.32px;
    }

    .logo-block-client__likes {
      right: 85px;
    }

    .logo-block-client__basket {
      right: 19.12px;
    }

    .logo-block-client__number {
      right: 15px;
    }

    .general {
      padding-left: 15px;
    }

    .pic_change {
      
      max-height: 272px;
    }

    .main-unit {
      gap: 40px;
    } 

    .toolbar {
      min-width: 360px;
    }

    .product-price-box__favourites {
      margin-left: 165px;
    }

    .advertisement__frame {
      gap: 10px;
    }

    .product-button {

      padding: 20px 42.5px;
    }

    .comparison {
      display: none;
    } 


    .review-block__photo {
      max-width: 100px;
      max-height: 100px;           
     }

     .review-block__star {
      max-width: 100px;
      max-height: 20px;
     }

    .form {
      padding-left: 15px;
    } 

    .footer-box {
      padding-left: 15px;
    } 

    }
  
